* {
  box-sizing: border-box;
}

/* --------- Base Selectors --------- */

body {
  font-family: "Heebo", sans-serif;
}

header {
  background-color: #2d31424d;
}

form {
  margin-top: 20px;
  margin-left: 2%;
  margin-right: 2%;
  width: 95%;
}

hr {
  width: 92%;
}

header p {
  margin-top: 0;
  padding-bottom: 20px;
  color: #2d3142fd;
}

header h2 {
  margin-bottom: 10px;
}

h1 {
  background-color: #2d3142;
  color: aliceblue;
  margin: auto;
  height: auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  text-transform: uppercase;
  width: 100%;
}

h2 {
  text-align: center;
  color: #1c2e4a;
}

legend {
  font-size: 1.2em;
  font-weight: 700;
  padding-top: 1.1em;
  padding-bottom: 1em;
}

input,
select {
  margin-bottom: 1.2em;
  border: none;
  height: 3em;
  border-radius: 4px;
  background-color: rgba(192, 192, 192, 0.5);
  text-indent: 10px;
}

textarea {
  background-color: rgba(192, 192, 192, 0.5);
  border-radius: 4px;
  height: 90px;
  border: none;
  padding: 10px;
}

input,
select,
textarea {
  transition: box-shadow 0.28s ease-out;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px;
  box-shadow: inset 0 0 0 1.5pt #4d9ceb;
}

label {
  color: rgb(71, 70, 70);
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

p {
  text-align: center;
  font-size: 1.3em;
  margin-left: 5%;
  margin-right: 5%;
}

footer p {
  margin-top: 0.5rem;
  margin-bottom: 15rem;
}

/* --------- Class/ID Selectors --------- */

.options {
  height: 5px;
}

.placeholder {
  display: flex;
  flex-direction: column;
}

::placeholder {
  text-align: end;
  padding-right: 4%;
  font-style: italic;
  color: rgb(114, 112, 112);
}

textarea::placeholder {
  text-align: left;
}

#thick {
  border: none;
  height: 3px;
  background-color: #333;
  margin-bottom: 0;
}

.thin {
  margin-top: 4px;
  border: none;
  height: 2px;
  background-color: #333;
}

.light {
  color: rgb(138, 136, 136);
}

#contact {
  display: flex;
  flex-direction: column;
  border: none;
}

.container {
  display: flex;
  flex-direction: column;
}

.contact-col {
  display: flex;
  flex-direction: column;
}

#newsletter {
  display: flex;
  border: none;
  flex-direction: column;
}

.newsletter-col {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.newsletter-col > label {
  margin: 10px;
  padding-top: 2px;
  padding-left: 7px;
}

.newsletter-col {
  height: 40px;
}

.newsletter-col > input:focus {
  outline: none;
  box-shadow: none;
}

div .col {
  margin: 0;
}

#newsletter-format {
  width: 100%;
  padding-top: 2rem;
}

.other-topics {
  padding-top: 2rem;
  padding-bottom: 0.1rem;
}

#submit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

footer p {
  font-style: italic;
  font-size: 0.8em;
}

.bottom {
  width: 95%;
}

/* --------- Input Selectors --------- */

button[type="submit"] {
  color: white;
  font-size: 1.2em;
  border: none;
  background-color: #4d9ceb;
  border-radius: 4px;
  height: 2.7em;
  margin-top: 1em;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background: #06e0f0;
  transition: background 0.5s;
  border-color: none;
}

input[id="zip"] {
  width: 46%;
}

/* --------- Media Queries --------- */

@media (min-width: 768px) {
  header h1 {
    font-size: 190%;
    margin-bottom: 4rem;
  }

  header p {
    padding-bottom: 4rem;
  }

  hr {
    width: 60%;
    /* margin: auto; */
  }

  .thin {
    margin-bottom: 2.5rem;
  }

  .bottom {
    margin-top: 3rem;
  }

  #newsletter-format {
    padding-top: 2rem;
  }

  main {
    width: 60%;
    margin: auto;
    background-color: #f9f9fa;
  }
  .contact-col {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .contact-col > label {
    margin: 10px 0;
    padding: 2px 0 0 4px;
  }

  .contact-col > input,
  .contact-col > select {
    flex: 1 230px;
  }

  .contact-col > label {
    flex-basis: 160px;
  }

  input[id="zip"] {
    flex: 0 150px;
  }

  footer p {
    margin-top: 2rem;
  }
}
